*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:rgba(211, 229, 231, 0.644)
}

.container{
    max-width: 75%;
    background-color: rgb(209, 221, 198);
    margin: auto;
    padding: 20px;
}

img{
    width: 100px;
    height: 150px;
    border: solid 5px rgb(57, 173, 72);
    border-radius: 50%;
    margin-right: 10px;
    float: left;
}

.header_title{
    padding: 40px;
    width: 30%;
    float: left;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
    color: tomato;
    font-weight: bold;
}
.contect{
    float: right;
}
.clear{
    clear: both;
}
.hr_top{
    border: rgb(102, 102, 138) solid 3px;
    border-bottom: 0;
    margin-top: 6px;
}

h1,h2,h3,h4,h5{
    color: teal;
}

.personal_information{
    margin-top: 10px;
}
.div_left{
    width: 35%;
    float: left;
    
}
.div_right{
    width: 65%;
    padding-left: 10px;
    padding-bottom: 10px;
    float: right;
}
.edu_div_left{
    width: 48%;
    padding: 5px;
    float: left;
}
.edu_div_right{
    width: 48%;
    padding: 5px;
    float: right;
}

/*-----------------
footer start......*/

.bottom_container{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 10px;
}
.bottom_container a{
    color: white;
    text-decoration: none;
    padding: 20px;
}
.bottom_container p{
    padding: 20px;
}
.img2{
    display: none;
}